.home {
  background-image: url("../assests/homeBG.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Orbitron", sans-serif;
}

.home_text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to right, black, transparent);
}

.home p {
  height: 20vh;
  width: 100vw;
  background: linear-gradient(to bottom, black, transparent);
}

.home h1 {
  font-size: 3rem;
  margin-top: 1vh;
  font-weight: 700;
}
.home span {
  color: #f18203;
}

.home h3 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 10vh;
}

.home h4 {
  height: 1px;
  width: 20vw;
  background-color: #f18203;
  margin-top: 10px;
  margin-bottom: 27vh;
  margin-left: 13vw;
}
